@tailwind base;
@tailwind components;
@tailwind utilities;

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

/* Custom scrollbar for premium feel (Screen 1) */
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: #B3E5FC;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #59019d33;
}

.dark ::-webkit-scrollbar-thumb {
    background: #32273a;
}

body {
    min-height: 100vh;
}

/* Custom range slider styling for a premium feel */
input[type=range] {
    -webkit-appearance: none;
    background: transparent;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #0688f9;
    cursor: pointer;
    margin-top: -6px;
    border: 2px solid white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    background: #dbe1e6;
    border-radius: 2px;
}
.dark input[type=range]::-webkit-slider-runnable-track {
    background: #2d3e4d;
}
